<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Properties>
    <Property name="log4j2.enableThreadlocals">true</Property>
    <Property name="log4j2.enableDirectEncoders">true</Property>
    <Property name="log4j2.contextSelector">
      org.apache.logging.log4j.core.async.AsyncLoggerContextSelector
    </Property>
  </Properties>

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yy-MM-dd HH:mm:ss.SSS} %highlight{%5level}{FATAL=red, ERROR=red, WARN=yellow, INFO=green, DEBUG=cyan, TRACE=white} %style{%c{1.}}{cyan} %X{correlationId} %msg%n%throwable{${sys:log.throwable:-short}}"/>
    </Console>
  </Appenders>

  <Loggers>
    <Logger name="io.mcpbridge" level="INFO"/>
    <Logger name="io.undertow" level="WARN"/>
    <Logger name="io.modelcontextprotocol" level="WARN"/>
    <Logger name="reactor" level="WARN"/> <!-- MCP SDK uses Reactor internally -->
    <Root level="INFO">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>